.navbar .btn-link {
  color: $navbar-light-color;
  padding: 0.4375rem 0;
}

#mode {
  margin-right: 1.25rem;
}

.btn-link:focus {
  outline: 0;
  box-shadow: none;
}

#navigation {
  margin-left: 1.25rem;
}

@include media-breakpoint-up(md) {
  #mode {
    margin-right: 0.5rem;
  }

  .navbar .btn-link {
    padding: 0.5625em 0.25rem 0.5rem 0.125rem;
  }
}

.navbar .btn-link:hover {
  color: $navbar-light-hover-color;
}

.navbar .btn-link:active {
  color: $navbar-light-active-color;
}

body .toggle-dark {
  display: block;
}

body .toggle-light {
  display: none;
}

body.dark .toggle-light {
  display: block;
}

body.dark .toggle-dark {
  display: none;
}

.btn-clipboard {
  display: none;
}

@include media-breakpoint-up(md) {
  .btn-clipboard {
    display: block;
    margin: 2.0625rem 0.25rem -4rem auto;
  }
}

.copy-status::after,
.copy-status:hover::after {
  content: "Copy";
  display: block;
}

.copy-status:focus::after,
.copy-status:active::after {
  content: "Copied";
  display: block;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1.5rem 0;

  > * {
    & + * {
      margin-left: 20px;
    }
  }
}

.button {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #e7def0;
  border: none;
  white-space: nowrap;
  border-radius: 3rem;
  font-size: 17px;
  line-height: 22.984px;
  font-weight: 300;
  padding: 1.2rem 1.6rem;
  transition: all 2s;
  text-decoration: none;
  color: white;
  background: #681cff;
  box-shadow: 0 0.313rem 1.25rem -0.625rem #681cff;

  svg {
    width: 1.5rem;
    margin-left: -0.375rem;
    margin-right: 0.75rem;
    z-index: 1;
    color: white;
  }

  span {
    position: relative;
    z-index: 1;
    color: white;
  }

  &::after {
    content: "";
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #fd3f83);
    transform: translateY(100%);
    transition: opacity 0.6s linear, transform 0.6s linear;
  }

  &:hover {
    text-decoration: none;

    &::after {
      opacity: 1;
      transform: none;
    }
  }

  &:active {
    transition: none;
    filter: brightness(1.3);
  }
}
